<ldap>
  <id>5d6a4f56:19bb89654e0:-8000</id>
  <name>ldap</name>
  <className>org.geoserver.security.ldap.LDAPAuthenticationProvider</className>
  <serverURL>ldap://ldap:389/dc=plugineta,dc=local</serverURL>
  <groupSearchBase>ou=groups</groupSearchBase>
  <groupSearchFilter>(uniqueMember={0})</groupSearchFilter>
  <useTLS>false</useTLS>
  <useNestedParentGroups>false</useNestedParentGroups>
  <maxGroupSearchLevel>10</maxGroupSearchLevel>
  <nestedGroupSearchFilter>(member={0})</nestedGroupSearchFilter>
  <bindBeforeGroupSearch>true</bindBeforeGroupSearch>
  <adminGroup>GIS_ADMINS</adminGroup>
  <groupAdminGroup>GIS_ADMINS</groupAdminGroup>
  <rolePrefix>ROLE_</rolePrefix>
  <convertToUpperCase>true</convertToUpperCase>
  <userDnPattern>uid={0},ou=users</userDnPattern>
</ldap>