<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
  	<display-name>DFR</display-name>
  	<welcome-file-list>
    	<welcome-file>index.xhtml</welcome-file>
  	</welcome-file-list>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>api/plugineta</web-resource-name>
            <url-pattern>/logout.xhtml</url-pattern>
            <url-pattern>/external/img-sld/*</url-pattern>
        </web-resource-collection>
        <!-- OMIT auth-constraint -->
    </security-constraint>

    <security-constraint>
     <web-resource-collection>            
         <web-resource-name>api/plugineta</web-resource-name>
         <url-pattern>/*</url-pattern>        
     </web-resource-collection>         
       <auth-constraint>            
           <role-name>Internal/everyone</role-name>        
       </auth-constraint>    
   </security-constraint>
	   <security-constraint>
	    <web-resource-collection>
	    <web-resource-name>api/plugineta</web-resource-name>
	        <url-pattern>/rest/public/*</url-pattern>
	        <http-method-omission>GET</http-method-omission>
	        <http-method-omission>POST</http-method-omission>
	    </web-resource-collection>
	    <auth-constraint/>
	</security-constraint>
	 <security-constraint>
	    <web-resource-collection>
	    <web-resource-name>api/plugineta</web-resource-name>
	        <url-pattern>/plugins/*</url-pattern>
	        <http-method-omission>GET</http-method-omission>
	    </web-resource-collection>
	    <auth-constraint/>
	</security-constraint>
   
	<login-config>
        <auth-method>KEYCLOAK-SAML</auth-method>    
    </login-config>
    <security-role>
        <role-name>Internal/everyone</role-name>    
    </security-role>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>